/* .blink_me { */
  /* animation: blinker 1s linear infinite; */
/* } */

/* @keyframes blinker {   */
  /* 50% { opacity: 0; } */
/* } */
@-webkit-keyframes blinker {  
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

.blink_me {
  -webkit-animation-name: blinker;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
  -webkit-animation-duration: 4.7s; 
}   
.active{
	  text-decoration: none;
	  background-color: #20abe2;
	  color:#fff;
	  border-radius:6px;
}
.mar_t20{
	margin-top:20px;
}
.mar_t64{
	margin-top:64px;
}
.top_foot li{
	padding:10px 0;
	list-style-type:none;	
}
.footer-bottom p{
	color:#fff;
}
.footer-bottom li{
	color:#fff;
}
.top_footer{
	background:#00283A none repeat scroll 0 0;
	padding:28px 0;
	margin-bottom:0px;
	}
.bord_rigt{
	border-right:1px solid #335361;
}
.payments li {
	padding:0 20px;
}
.top_foot a{
	color:#fff;
	text-decoration:none;
		
}
.	{
	margin-top:10px;
}
.bor_bot{
	border-bottom:1px solid #335361;
	
}
.site_col{
	color:#00C4FD;
}

.text-center{
	text-align:center;
}
.about_div{
	background-color:#00283a;
	padding:30px 5px;
	color:#fff;
	width:100%
}
.menu_pad li{
	margin-right:22px;
	
}

	.top_bar li{
		 padding:0px 40px; 
		
	}
	.pos_nav{
		position:absolute;
		top:50px;
		z-index:1000;
		width:100%;
	}
	.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
	  text-decoration: none;
	  background-color: #20abe2;
	  color:#fff;
	  border-radius:6px;
}
.{
	 text-decoration: none;
	  background-color: #20abe2;
	  color:#fff;
	  border-radius:6px;
}
.menu_pad>li>a {
        padding-top: 10px;
        padding-bottom: 10px
    }
.item img{
	width:100%
}
	.btn_ref a {
    background: #00c4fd none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    color: #fff !important;
    float: right;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    margin: 0 1px 0 0;
    padding: 9px 13px;
    text-decoration: none;
    transition: all 0.9s ease 0s;
}
.btn_pr {
	background: #2d7da4;
    padding: 10px 15px;
    color: #fff;
}
.mar_t15 {
	margin-top:15px;
}
.mar_t5 {
	margin-top:5px;
}
.mar_t17 {
	margin-top:17px;
}
  /* <inner pages> */
  .services_hedd{
    padding:8px 20px;
}
.img_rot img{
	-ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
    transform: rotate(-5deg);

}
  .hedd{
    background:#2d7da4;
    padding:10px 15px;
    color:#fff;

}
.right_icon{
	border-radius: 50%;
    color: #ffffff;
    display: block;
    height: 24px;
    line-height: 24px;
    margin-top: -32px;
    overflow: hidden;
    padding:5px 0 0 0;
    position: absolute;
    text-align: center;
    width: 24px;
    right:-13px;
    top:20px;
    z-index:999;
    background:#2d7da4;
}
ul.about_list{
    list-style:none;
    margin:0 20px 0 20px;
    padding:0;
    float: left;
}
ul.about_list li{
    margin:0 0 10px 0;
    padding:0 0 0 20px;
    position:relative;

}
ul.about_list li i{
    color: #2d7da4;
    font-size:15px;
    position:absolute;
    left:0;
    top:3px;

}
.bord_left{
    border-left:1px solid #2d7da4;
}
.imgc img {
    padding: 5px;
    border: 1px solid #ccc;
    margin: 0 0 5px 0;

}
.imgc h6{

	font-size:16px;
}
.taxpayer{
    margin-top:20px;
    /*background: white;*/
    background:none repeat scroll 0 0 rgba(255, 255, 255, 0.9)!important;
    padding: 20px 0;
    border-radius: 10px;
}
.bor-over {

    margin: 0 0 20px 0;

}
.bor-over a{
    word-wrap: break-word;
	margin: 0 10px;
}
.stateRefund{
    padding: 15px 0;
    font-weight: bold;
    float: left;
    font-size: 16px;}
	ul.adminGroup {
    list-style: none;
    margin: 0;
    display: table;
    table-layout: fixed;
}
ul.adminGroup li{
    color:black;
    display: table-cell;
    border-bottom: 1px solid #ccc;

    padding: 10px 0;

}
ul.adminGroup li:first-child{
    font-weight: bold;
}
div.adminGroup{
    color:black;
    margin-bottom:10px;
}
.imgc center{
    margin: 0 auto;
}
.pad_sit{
	padding:0 10px;
}
/* <drop down start> */

.drop_st .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.drop_st .dropdown {
    position: relative;
    display: inline-block;
}

.drop_st .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.drop_st .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	background:#CCCCCC;
	border-bottom:1px solid #222;
}

.drop_st .dropdown-content a:hover {background-color: #09ADDC}

.drop_st .dropdown:hover .dropdown-content {
    display: block;
}

.drop_st .dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.headerLine {
    position: relative;
    width: 100%;
	top:-14px;
    overflow: hidden;
    height: 580px;
    background: url(../images/bgTop.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.headerLine.contact_bg {
    background: url(../img/bgTop6.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
}
.headerLine.firm_bg {
    background: url(../img/bgTop2.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.headerLine.prof_bg {
    background: url(../img/profile.png) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.headerLine.servics_bg {
    background: url(../img/first.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.headerLine.taxxenter_bg {
    background: url(../img/hut.png) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.headerLine.refer_bg {
    background: url(../img/mods4.png) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.headerLine.testimonials_bg {
    background: url(../img/testimonials.png) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	
}

.headerLine.careers_bg {
    background: url(../img/bgTop5b.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.headerLine.privacy_bg {
    background: url(../img/privacy.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}.headerLine.terms_bg {
    background: url(../img/terms.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.headerLine:after{
    content: "";
    position: absolute;
    z-index: 1;
    pointer-events: none;
    bottom: 0;
    left: 0;
    width: 100%;
    /* background: url(../images/sliderL.png) center center no-repeat; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 150px solid white;
    border-left: 3000px solid transparent;
}
/* end drop down start> */

  /* < end inner pages> */

.services_btncls{
    text-align:center;
    margin:0 0 20px 0;
    padding:0;
	line-height:40px;
}
.navbar-brand{
	padding:25px 15px !important;
}
.pad_lf70{
	padding-left:70px;
}
.pad_lf90{
	padding-left:90px;
}
.blink_me {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: blinker;
    animation-timing-function: linear;
}


@media only screen and (max-width:767px) {
	/* inner pages */
	.navbar-brand{
	padding:15px !important;
}
.mar_btn_l20{
	margin-left:20%;
}
.add_close{
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    position: absolute !important;
    right: 9px !important;
    z-index: 0 !important;
}
.pad_lf70{
	padding-left:20px !important;
}
.pad_lf90{
	padding-left:20px !important;
}
.imgRes{
	width:20% !important;
}
	.about_div {
    background-color: #fff;
    padding: 30px 5px;
    color: #222;
    width: 100%;
}
	.mar_t17 {
	margin-top:-10px;
}
		.right_icon {
			display:none;
		}
		.ref_btns button {
		margin-top:5px;
		}
	.mob_hid{
	visibility: hidden;
	}	
	.item img{
	width:150%
}
.carousel-inner img{
	height:60% !important;
	margin-top:30px;
}

.headerLine.contact_bg {
	height:50%;
}
.headerLine.careers_bg {
	height:50%;
}
.headerLine.testimonials_bg {
	height:35%;
}
.headerLine.taxxenter_bg {
	height:50%;
}
.headerLine.servics_bg{
	height:50%;
}
.headerLine.firm_bg{
	height:50%;
}

.headerLine.prof_bg{
	height:50%;
}
		.bord_left{
			display:none;
}
	/*end inner pages */
		.top_bar li{
		padding-left:5px;
	}
.navbar {
    min-height: 75px !important;
    
}
.mar_t15 {
	margin-top:0px;
}
	.res{
		float:left;
	}
	.pos_nav{
		top:none;
		position:relative;
	}
	.navbar-toggle{
			background-color:#20abe2;
	}
	.mar_t50{
		margin-top:83px;
	}
	header.carousel {
    height: 35%;
}
.navbar-inverse {
    background-color: #222;
}
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
	border-radius:0px;
}
.logo_res {
	width:50%;
	margin-top:-4px;
}.sm-hide {
	display:none;
}
.pad_res{
	padding-right: 20px;
        padding-left: 20px
}
.drop_pad{
	padding:10px;
	margin-right:20px;
}
}
@media only screen and (max-width:360px) {
	.top_bar li{
		padding:0;
	}
	.btn_ref a{
		    padding: 9px 2px;
	}
	.btn_padd a{
		margin:0 2px;
	}
	.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 20px;
}
	
	
}

@media only screen and (max-width:320px) {
	.top_bar li{
		padding:0;
	}
	.btn_ref a{
		    padding: 9px 5px;
	}
	.btn_padd a{
		margin:0 2px;
	}
	.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 20px;
}
	
	
}
/* modal Css PopUp */
.center {
    margin-top:50px;   
}

.modal-header {
	padding-bottom: 5px;
}

.modal-footer {
    	padding: 0;
	}
    
.modal-footer .btn-group button {
	height:40px;
	border-top-left-radius : 0;
	border-top-right-radius : 0;
	border: none;
	border-right: 1px solid #ddd;
}
	
.modal-footer .btn-group:last-child > button {
	border-right: 0;
}	
	
/* End */