SetEnv APPLICATION_ENV local
SetEnv ZF2_PATH E:/ZF2/library
RewriteEngine On
php_flag display_errors on
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^testzf(/.*)?$ index_zf2.php [NC,L]
RewriteRule ^.*$ index.php [NC,L]

